body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

nav{
    display: flex;
    justify-content: space-between;
   background-color:white;
}

.logo-nav img{
    width: 150px;
    height: auto;
    margin: 10px;
}

.nav-link{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
    justify-content: center;
    /* background-color: rgb(204, 204, 204); */
    height: 60px;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;

}
.nav-link li{
    display: inline;
    font-size: 13px;
}

.nav-link a{
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
    transition: background-color 0.3s, color 0.3s;
}
.nav-link a:hover{
    background-color:white;
    color: #9D00FF;
    border-radius: 5px;
}

.contactme a:hover{
    background-color: #333;
    color: #db2f2f;
    border-radius: 5px;
}

.contactme{
    font-size: 18px;
    display: flex;
    padding: 10px 20px;
    background-color:  white;
    color: #9D00FF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid #9D00FF;
}
.contactme a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.contactme:hover{
    background-color: white;
    color: red;
    border-radius: 5px;
}
.header{
    text-align: center;
    padding: 50px 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.kedua{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
background-color: #F5FCFF;
height: 840px;
}
.kedua .content1 h1{
    font-size: 48px;
    margin-bottom: 20px;
    color: #333;
}

.kedua .content1 h1 span{
    color: #9D00FF;
}
.kedua .content1 .getintouch{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 21px;
    background-color: #9D00FF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 5px solid #9D00FF;

}
.kedua .content1 .getintouch:hover{
    background-color: #9D00FF;
    color:red;
}
.kedua .content2 img{
    width: 600px;
    height: auto;
    border-radius: 10px;
}
.kedua .content1 p{
    font-size: 18px;
    color: #666;
    line-height: 1.6;
    margin-bottom: 20px;
}

.keempat{
    text-align: center;
    padding: 50px 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    gap: 90px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.card{
    display: flex;
    justify-content: space-around ;

}

/* Box-1 */
.box1{
    text-align: center;
    width: 250px;
    padding: 0 50px 100px;
    border-radius: 10px;
    background-color: #F5FCFF;
}
.box1 img{
    width: 100px;
    height: auto;
    margin-bottom: 15px;
}
.box1 h3{
    text-align: left;
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}
.box1 p{
    text-align: left;
    font-size: 14px;
    color: #666;
}
.box1:hover{
    background-color: white;
    color: white;
    transform: translateY(-10px);
    transition: 0.3s;
}
 .box2{
    text-align: center;
    width: 250px;
    padding: 0 50px 100px;
    border-radius: 10px;
    background-color: #F5FCFF;
}
.box2 img{
    width: 100px;
    height: auto;
    margin-bottom: 15px;
}
.box2 h3{
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}
.box2 p{
    text-align: left;
    font-size: 14px;
    color: #666;
}
.box2:hover{
    background-color: white;
    color: white;
    transform: translateY(-10px);
    transition: 0.3s;
}
.box3{
    text-align: center;
    width: 250px;
    padding: 0 50px 100px; 
    border-radius: 10px;
    background-color: #F5FCFF;
}
.box3 img{
    width: 100px;
    height: auto;
    margin-bottom: 15px;
}
.box3 h3{
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}
.box3 p{
    text-align: left;
    font-size: 14px;
    color: #666;

}
.box3:hover{
    background-color:white;
    color: white;
    transform: translateY(-10px);
    transition: 0.3s;
}
.box4{
    text-align: center;
    width: 250px;
    padding: 0 50px 100px;
    border-radius: 10px;
    background-color: #F5FCFF;
}
.box4 img{
    width: 100px;
    height: auto;
    margin-bottom: 15px;
}
.box4 h3{

    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}
.box4 p{
    text-align: left;
    font-size: 14px;
    color: #666;
}
.box4:hover{
    background-color: white;
    color: white;
    transform: translateY(-10px);
    transition: 0.3s;
} 
.box{
    display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px auto;
  overflow: hidden;
  box-shadow: #333;
    padding-top: 200px;
  height: 1400px;

}
.kiri{
    flex: 1;
    padding: 20px;
}
.kiri img{
    width: 100%;
    border-radius: 12px;
}
.kanan{
    flex: 2;
    padding: 20px;
}
.kanan p{
    font-size: 18px;
    color: #666;
}
.kanan h2{
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
}
.kanan p{
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #666;

}
.kanan b{
    font-size: 20px;
    color: #333;
    line-height: 1.6;
    margin-bottom: 20px;
}

.container .content1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px
}

.container .content1 p{
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.container .content1 .logo {
    margin-left: 30px;
}
.container .content1 .mywebsite {
    margin-right: 175px;
    padding: 50px;
    font-size: 36px;
    font-weight: bold;
    color: white;
    border-radius: 10px;

}

.container .content1 .mywebsite button{
    background-color: #E62872;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}

.container .content1 .mywebsite a {
    text-decoration: none;
    color: white;
 
}

.container .content2 {
    display: grid; /* ganti dengan grid */
    /* buat properti grid=template-column: dengan repeat(3, 1fr) */
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin: 0 10px;
    gap: 20px;
}

.container .content2 .card1 {
    max-width: 400px;
    max-height: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.container .content2 .card1 img{
    width: 400px;
    height: 200px;
}

.container .content2 .card1 h2{
    font-size: 20px;
    margin: 10px;
}

.container .content2 .card1 p{
    font-size: 16px;
    margin: 10px;
}

.container .content2 .card1 a {
    display: inline-block;
    margin: 0 0 20px 10px;
}

.container .content2 .card2 {
    max-width: 400px;
    max-height: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.container .content2 .card2 img {
    width: 400px;
    height: 200px;
}

.container .content2 .card2 h2{
    font-size: 20px;
    margin: 10px;
}
.container .content2 .card2 p{
    font-size: 16px;
    margin: 10px;
}

.container .content2 .card2 a {
    display: inline-block;
    margin: 0 0 20px 10px;
}

.container .content2 .card3 {
    max-width: 400px;
    max-height: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.container .content2 .card3 img {
    width: 400px;
    height: 200px;
}

.container .content2 .card3 h2{
    font-size: 20px;
    margin: 10px;
}
.container .content2 .card3 p{
    font-size: 16px;
    margin: 10px;
}

.container .content2 .card3 a {
    display: inline-block;
    margin: 0 0 20px 10px;
}

.container2 .title-contact {
    text-align: center;
}

.title-contact h5{
    font-size: 15px;
    margin-bottom: 10px;
}

.title-contact h1{
    font-size: 36px;
    margin-bottom: 10px;
}
.title-contact p{
    font-size: 18px;
    margin-bottom: 30px;
}

.jdl-first {
    font-weight: bold;
    font-size: 15px;
}
.kotak-nama-pertama {
    margin-top: 12px;
    border: 2px solid blueviolet;
    border-radius: 5px;
    padding: 5px;
}
.jdl-last {
    font-weight: bold;
    font-size: 15px;
}
.all-name {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}
.kotak-nama-kedua {
    margin-top: 12px;
    border: 2px solid blueviolet;
    border-radius: 5px;
    padding: 5px;
}
.jdl-email {
    font-weight: bold;
    font-size: 15px;
}
.kotak-nama-ketiga {
    margin-top: 12px;
    border: 2px solid blueviolet;
    border-radius: 5px;
    padding: 5px;
}


.jdl-phone {
    font-weight: bold;
    font-size: 15px;
}
.kotak-nama-empat {
    margin-top: 12px;
    border: 2px solid blueviolet;
    border-radius: 5px;
    padding: 5px;
}
.email-phone {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.subject {
    max-width: 400px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    margin-left: 750px;
    margin-bottom: 20px;
}

.subject .jdl-topic {
    font-weight: bold;
    font-size: 15px;
}

.kotak-pilihan {
    margin-top: 12px;
    border: 2px solid blueviolet;
    border-radius: 5px;
    padding: 5px;
        
}
.message {
    max-width: 800px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    margin-left: 550px;
    margin-bottom: 20px;

}
.jdl-message {
    font-weight: bold;
    font-size: 15px;
}
.message textarea {
    width: 100%;
    height: 150px;
    border: 2px solid blueviolet;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    resize: vertical;
    color: #333;
}
.checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    margin-right: 654px;
}
.checkbox input {
    width: 20px;
    height: 20px;
}
.checkbox label {
    font-size: 16px;
    color: #333;
}   
textarea:focus, input:focus, select:focus {
    outline: none;
    border-color: #9D00FF;
    box-shadow: 0 0 5px rgba(157, 0, 255, 0.5);
}
.jdl-button {
    margin-bottom: 50px;
    margin-left: 905px;
}
.jdl-button {
    background-color: #9D00FF;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.jdl-button:hover {
    background-color: #7a00cc;
    color: red;
}
